.menu-footer {
padding-left: 1.5rem;
  &__feedback {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__mail {
    display: block;
    margin-bottom: 0.75rem;
    transition: color 0.3s ease;

  }
  &__phone {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2.5rem;
    transition: color 0.3s ease;

  }
}