.navigation {
  overflow-x: scroll;
  scrollbar-width: none;
  position: relative;
  padding-right: 1.5rem;
  
  
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;


    @media screen and (min-width: $screen-xl) {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__item {
    border: 2px transparent solid;
    border-radius: 6px;
    
    transition: 0.25s ease-in;
  }
  
  &__item:hover {
    border-color: $el-aquamarin-light;
    background-color: $bg-white;
  }

  &__link {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    white-space: nowrap;
    color: $text-gray;
  }

}